#map-svg {
  background-color: #c0e3f6;
  width: 50%;
  height: 45%;
  position: absolute;
  margin: 1.25%;
  bottom: 0px;
  left: 0px;
}
#line-svg {
  width: 50%;
  height: 35%;
  position: absolute;
  margin-left: 1.25%;
  margin-top: 5px;
}
#scatter-svg {
  width: 47%;
  height: 45%;
  position: absolute;
  margin: 1.25%;
  bottom: 0px;
  right: 0px;
}
.error {
  text-anchor: middle;
  fill: #ccc;
  font-weight: 500;
}
.axis-label {
  font-weight: 600;
  font-size: 18px;
}
#desc-div {
  width: 47%;
  height: 35%;
  position: absolute;
  top: 100px;
  right: 20px;
  margin-right: 1px;
  margin: 1.25%;
  margin-top: 5px;
  font-size: 0.87vw;
}
.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 0.5;
  stroke-opacity: 0.5;
}
.boundary {
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-opacity: 1;
}
.country,
.state {
  stroke: black;
  stroke-width: 1;
  fill: honeydew;
}
.widgets {
  position: relative;
  font-weight: 600;
  width: 100%;
  margin-left: 1.25%;
}
#reset-zoom {
  margin-left: 140px;
}
html {
  font-family: "Trebuchet MS", sans-serif;
}
h2,
h3 {
  text-align: center;
}
div.tooltip,
div.tooltip2 {
  position: absolute;
  text-align: center;
  padding: 0.25rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1rem;
}
.symbol {
  font-family: Segoe UI Emoji, Segoe UI Symbol, Symbola, Quivira;
  font-size: 16px;
  font-size: 1vw;
}
.desc {
  padding: 1rem;
}
.description {
  font-size: 14px;
  font-size: 0.729vw;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
h2 {
  font-size: 32;
  font-size: 1.6vw;
}
